{% load i18n %}
{% load static %}
<div class="navbar-brand p-2">
    <img src="{% static 'img/Dakahlia_Governorate.jpg' %}" width="120px" height="100%" alt="logo">

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
</div>

<div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
        <div class="navbar-item">
            {% if request.user.is_authenticated %}
                <span class="mr-3 has-text-weight-semibold">
                    {% if request.user.get_full_name %}
                        {{ request.user.get_full_name }}
                    {% else %}
                        {{ request.user.username }}
                    {% endif %}
                </span>
                <a class="button is-info" href="{% url 'hygienebox_dashboard' %}">{% trans 'Hgiene Box' %}</a>
                <a class="button is-dark" href="{% url 'logout' %}">{% trans 'logout' %}</a>
            {% endif %}

            <form action="{% url 'set_language' %}" method="post" class="control">
                {% csrf_token %}
                <div class="select">
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    
                    {% for lang in languages %}
                    <option class="input" value="{{ lang.code }}" {% if lang.code == LANGUAGE_CODE %}selected{% endif %}>
                        {{ lang.name_local }}
                    </option>
                    {% endfor %}
                </select> 
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const languageSelect = document.querySelector('select[name="language"]');

        languageSelect.addEventListener("change", (event) => {
            const selectedValue = event.target.value;
            console.log(`Selected language: ${selectedValue}`);
            // Example: submit form automatically
            event.target.form.submit();
        });
    });

</script>