{% load i18n %}

<div class="menu p-2">
    <ul class="menu-list">
        <li>
            <a class="is-flex is-align-items-center has-text-dark" href="{% url 'hygienebox_dashboard' %}">
                <span class="icon"><i class="hgi hgi-stroke hgi-dashboard-square-02"></i></span>
                <span class="mx-2">{% trans 'Dashboard' %}</span>
            </a>
        </li>
        <li>
            <a class="is-flex is-align-items-center has-text-dark" href="{% url 'contracts' %}">
                <span class="icon"><i class="hgi hgi-stroke hgi-contracts"></i></span>
                <span class="mx-2">{% trans 'Contracts' %}</span>
            </a>
        </li>
        <li>
            <a class="is-flex is-align-items-center has-text-dark" href="{% url 'expenses_list' %}">
                <span class="icon"><i class="hgi hgi-stroke hgi-sharp hgi-payment-02"></i></span>
                <span class="mx-2">{% trans 'Expenses' %}</span>
            </a>
        </li>
        <li>
            <a class="is-flex is-align-items-center has-text-dark" href="{% url 'revenues_list' %}">
                <span class="icon"><i class="hgi hgi-stroke hgi-sharp hgi-payment-02"></i></span>
                <span class="mx-2">{% trans 'Revenues' %}</span>
            </a>
        </li>
        <li>
            <a class="is-flex is-align-items-center has-text-dark" href="{% url 'reports' %}">
                <span class="icon"><i class="hgi hgi-stroke hgi-chart-line-data-02"></i></span>
                <span class="mx-2">{% trans 'Reports' %}</span>
            </a>
        </li>
    </ul>

</div>
