{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="box p-5">
    <h1 class="title is-4 has-text-link mb-5">
        <i class="fas fa-edit mr-2"></i> {% trans 'Edit Contract' %} - {{ contract.provider_name }}
    </h1>

    <form method="post">
        {% csrf_token %}
        <div class="columns is-multiline">

            <div class="column is-6">
                <label class="label">{% trans "Provider Name" %}</label>
                <input class="input" type="text" name="provider_name" value="{{ form.provider_name.value|default:'' }}">
            </div>
            <div class="column is-6">
                <label class="label">{% trans "City" %}</label>
                {{ form.city }}
            </div>

            <div class="column is-6">
                <label class="label">{% trans "Region" %}</label>
                {{ form.region }}
            </div>

            <div class="column is-6">
                <label class="label">{% trans "Districts" %}</label>
                {{ form.districts }}
            </div>

            <div class="column is-6">
                <label class="label">{% trans "Towns" %}</label>
                {{ form.towns }}
            </div>

            <div class="column is-6">
                <label class="label">{% trans "Neighborhoods" %}</label>
                {{ form.neighborhoods }}
            </div>
            
            <div class="column is-6">
                <label class="label">{% trans "Value (EGP)" %}</label>
                <input class="input" type="number" name="value" value="{{ form.value.value|default:'' }}">
            </div>

            <div class="column is-6">
                <label class="label">{% trans "Duration (Months)" %}</label>
                <input class="input" type="number" name="duration" value="{{ form.duration.value|default:12 }}">
            </div>

            <div class="column is-6">
                <label class="label">{% trans "Remaining Amount" %}</label>
                <input class="input" type="number" name="remaining" value="{{ form.remaining.value|default:'' }}">
            </div>

            <div class="column is-6">
                <label class="label">{% trans "Contract Date" %}</label>
                {{ form.contract_date }}
            </div>

            <div class="column is-6">
                <label class="label">{% trans "Commencing Date" %}</label>
                {{ form.commencing_date }}
            </div>

            <div class="column is-6">
                <label class="label">{% trans "End Date" %}</label>
                {{ form.end_date }}
            </div>
        </div>

        <div class="has-text-centered mt-5">
            <button class="button is-link is-medium is-rounded px-6" type="submit">
                <i class="fas fa-save"></i> &nbsp;{% trans 'Save Changes' %}
            </button>
            <a href="{% url 'contracts' %}" class="button is-light is-medium is-rounded px-6">
                {% trans 'Cancel' %}
            </a>
        </div>
    </form>
</div>
{% endblock %}
